// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyAzShENFagk-CXeVkEwX2Krsduqe81Rtvw",
  authDomain: "mealit-142c3.firebaseapp.com",
  projectId: "mealit-142c3",
  storageBucket: "mealit-142c3.firebasestorage.app",
  messagingSenderId: "332973293422",
  appId: "1:332973293422:web:30cf5799f54ee9616dcb7f",
  measurementId: "G-SZH2BSZ8Z5"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
